body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper {
	width: 1300px;
	height:800px;
	position: absolute;
}

#line_chart {
	float:left;
	width: 1000px;
	height:800px;
}

#buttons {
	float:right;
	width: 300px;
	height: 800px;
}
